

{{!-- Navbar Start --}}
<nav class="navbar navbar-light bg-light mb-4">
    <span class="navbar-brand mb-0 h1 nav-head">Killer Mutant Robogotchis!!!!</span>
    <span><a id="logout" href="/logout">Logout</a></span>
</nav>
{{!-- Navbar End --}}

<div class="container">
    <div class="row">

        {{!-- Character Card Start--}}
        <div class="card col-5 border-0">
            <div class="card-body">
                <h3 class="card-title text-center">Your 'Gotchi</h3>
                <span>{{dataValues.gotchiName}}</span>
                <div class="text-center mb-3">
                    <img src="{{dataValues.gotchiPicture}}" class="img-fluid rounded" id="gotchi-img">
                </div>
            </div>
        </div>
        {{!-- Character Card End--}}


        {{!-- Stats Card Start --}}
        <div class="card col-6 border-0 ml-auto">
            <div class="card-body">
                <h5 class="card-title text-center">What would you like to do with your Gotchi?</h5>
                <div class="list-group">
                    <button data-health="{{dataValues.health}}" data-points="{{dataValues.hungry}}" data-id="{{dataValues.id}}" data-column="hungry" type="button"
                    class="list-group-item list-group-item-action action-btn" id="feedBtn" data-toggle="modal"
                        data-target="#modal">Hunger Level: {{dataValues.hungry}} <small class="text-muted">(click to feed)</small></button>
                    <button data-health="{{dataValues.health}}" data-points="{{dataValues.bored}}" data-id="{{dataValues.id}}" data-column="bored" type="button"
                        class="list-group-item list-group-item-action action-btn" id="entertainBtn" data-toggle="modal"
                        data-target="#modal2">Boredom Level: {{dataValues.bored}} <small class="text-muted">(click to entertain)</small></button>
                    <button data-health="{{dataValues.health}}" data-points="{{dataValues.lazy}}" data-id="{{dataValues.id}}" data-column="lazy" type="button"
                        class="list-group-item list-group-item-action action-btn" id="exerciseBtn" data-toggle="modal"
                        data-target="#modal3">Laziness Level: {{dataValues.lazy}} <small class="text-muted">(click to excercise)</small></button>
                </div>
                <hr>
                <ul class="list-group">
                    <li class="list-group-item text-dark">Health Level: {{dataValues.health}} <span id="healtNote"></span></li>
                </ul>
            </div>
        </div>
        {{!-- Stats Card End --}}


        {{!-- Food Modal Start --}}
        <div class="modal" id="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">You Fed Your Gotchi!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Your Gotchi now has <span id="hungry-points"></span> health points</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Food Modal End --}}

        {{!-- Entertainment Modal Start --}}
        <div class="modal" id="modal2" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">You entertained your Gotchi!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Your Gotchi now has <span id="bored-points"></span> health points</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Entertainment Modal End --}}


        {{!-- Exercise Modal Start --}}
        <div class="modal" id="modal3" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Keeping your Gotchi fit!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Your Gotchi now has <span id="lazy-points"></span> health points</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Exercise Modal End --}}

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/index.js"></script>

