

{{!-- Navbar Start --}}
<nav class="navbar navbar-light bg-light mb-4">
    <span class="navbar-brand mb-0 h1">Killer Mutant Robogotchis!!!!</span>
    <span><a id="logout" href="/logout">Logout</a></span>
</nav>
{{!-- Navbar End --}}

<div class="container">
<<<<<<< HEAD
=======
    <!-- your character card -->
>>>>>>> parent of 5ab16ea... update logic for adding health to each button
    <div class="row">

        {{!-- Character Card Start--}}
        <div class="card col-5 border-0">
            <div class="card-body character-card">
                <h5 class="card-title text-center">Your 'Gotchi</h5>
                <h4>Your Gotchi: </h4>
<<<<<<< HEAD
                <span>{{dataValues.gotchiName}}</span>
=======
                <span>{{gotchiName}}</span>
                <!-- this will be the image of the character chosen by user -->
>>>>>>> parent of 5ab16ea... update logic for adding health to each button
                <div class="text-center mb-3" style="height: 250px">
                    <img src="{{dataValues.gotchiPicture}}" class="img-fluid rounded" id="gotchi-img">
                </div>
            </div>
        </div>
        {{!-- Character Card End--}}


<<<<<<< HEAD
        {{!-- Stats Card Start --}}
=======
        <!-- stats card -->
>>>>>>> parent of 5ab16ea... update logic for adding health to each button
        <div class="card col-5 border-0">
            <div class="card-body stat-card">
                <h5 class="card-title text-center">What would you like to do with your Robot?</h5>
                <div class="list-group">
<<<<<<< HEAD
                    <button data-points="{{hungry}}" data-id="{{id}}" data-name="hungry" value=5 type="button"
                    class="list-group-item list-group-item-action action-btn" id="feedBtn" data-toggle="modal"
                        data-target="#modal">Feed</button>
                    <button data-points="{{bored}}" data-id="{{id}}" name="bored" value=20 type="button"
                        class="list-group-item list-group-item-action action-btn" id="entertainBtn" data-toggle="modal"
                        data-target="#modal2">Entertain</button>
                    <button data-points="{{lazy}}" data-id="{{id}}" name="lazy" value=15 type="button"
                        class="list-group-item list-group-item-action action-btn" id="exerciseBtn" data-toggle="modal"
                        data-target="#modal3">Exercise</button>
=======
                    <button type="button" class="list-group-item list-group-item-action" id="feedBtn"
                        data-toggle="modal" data-target="#modal">Feed</button>
                    <button type="button" class="list-group-item list-group-item-action" id="entertainBtn"
                        data-toggle="modal" data-target="#modal2">Entertain</button>
                    <button type="button" class="list-group-item list-group-item-action" id="exerciseBtn"
                        data-toggle="modal" data-target="#modal3">Exercise</button>


>>>>>>> parent of 5ab16ea... update logic for adding health to each button
                </div>
            </div>
        </div>
        {{!-- Stats Card End --}}


        {{!-- Food Modal Start --}}
        <div class="modal" id="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Your Food Supply</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Your Gotchi has <span id="hungry-points">{{dataValues.hungry}}</span> food points</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Food Modal End --}}

        {{!-- Entertainment Modal Start --}}
        <div class="modal" id="modal2" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">How bored is your Gotchi?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Your Gotchi has <span id="bored-points">{{dataValues.bored}}</span> entertainment points</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Entertainment Modal End --}}


        {{!-- Exercise Modal Start --}}
        <div class="modal" id="modal3" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Keeping your Gotchi fit!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Your Gotchi has <span id="lazy-points">{{dataValues.lazy}}</span> exercise points</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Exercise Modal End --}}

    </div>
</div>

